<footer class="footer-section">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-logo">
                <img src="/images/logo-zetia.png" alt="Zetia Agency Logo">
                <div class="social-media">
                    <a href="https://www.instagram.com/" target="_blank" class="social-icon instagram">
                        <img src="/images/icon-instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.facebook.com/" target="_blank" class="social-icon facebook">
                        <img src="/images/icon-facebook.png" alt="Facebook">
                    </a>
                </div>
            </div>

            <div class="footer-hours">
                <h4>Ouverture</h4>
                <p>Lundi - Vendredi:</p>
                <p>9h30 - 12h00</p>
                <p>14h00 - 18h00</p>
            </div>

            <div class="footer-info">
                <h4>Informations</h4>
                <ul>
                    <li><a href="/conditions-generale-de-vente">Conditions générale de vente</a></li>
                    <li><a href="/mentions-legales">Mentions Légales</a></li>
                    <li><a href="/politique-de-confidentialite">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
